<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-1 d-flex justify-content-center">
      <label><a class="btn-primary" href="/home">Home</a> </label>
    </div>
    <div class="col-2 d-flex justify-content-center">
      <label>Alex's Micro Warehouse</label>
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col d-flex justify-content-center">
      <button>Store Tasks</button>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col d-flex justify-content-center">
      <button>Pick Tasks</button>
    </div>
  </div>
</div>
